.backgroud {
  background-color: #141414;
}

.formacao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  padding: 120px 20px;
  position: relative;
}
.formacao::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("./decoração.svg") no-repeat center;
  position: absolute;
  bottom: -55px;
  left: 40px;
}
.formacao .subtitulo {
  color: #000000;
  font-size: 5.5rem;
  max-width: 8ch;
  font-weight: bold;
}
.parag {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.origamid {
  margin-top: 30px;
}
.cursos-tipo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #e0e0e0;
  margin-bottom: 80px;
}
.cursos {
  flex: 1;
  background-color: #000;
  border-radius: 4px;
  flex-wrap: wrap;
  padding: 20px;
  align-self: center;
  position: relative;
}
.curso1 {
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.lingua {
  font-size: 0.875rem;
  margin-bottom: 50px;
  font-weight: bold;
}
.lingua::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: linear-gradient(#2870b1, #40d6e0);
  position: absolute;
  top: 45px;
  left: -3px;
}

.curso2 {
  font-size: 0.875rem;
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .formacao {
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
    padding: 20px 20px;
  }
  .formacao .subtitulo {
    font-size: 5rem;

    padding: 15px;
  }
  .parag {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
}
@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
  }
  .formacao .subtitulo {
    font-size: 3rem;
    text-transform: initial;
    padding: 15px;
    max-width: initial;
    color: #fff;
  }
  .parag {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
}
